<ul>
  <li><a href="/">Accueil</a></li>
  <li><a href="/syntaxe/">Syntaxe de base</a></li>
  <li><a href="/titres/">Titres</a></li>
  <li><a href="/listes/">Listes</a></li>
  <li><a href="/images/">Images</a></li>
  <li><a href="/code/">Code</a></li>
</ul>
