{{ page.url }}

<ul>
  {% for menu in menuList %}
  <li
    class="{% if page.url == menu.url %} bg-slate-400 text-yellow-700{% endif %}"
  >
    <a href="{{ menu.url }}">
      <span>{{ menu.label }}</span>
      <img class="icon-filter" src="{{ menu.icon }}" alt="" />
    </a>
  </li>
  {% endfor %}
</ul>
